*.pyc
app/.metadata
app/analysis_options.yaml
app/android/app/build.gradle
app/android/app/src/debug/AndroidManifest.xml
app/android/app/src/main/AndroidManifest.xml
app/android/app/src/main/kotlin/com/example/app/MainActivity.kt
app/android/app/src/main/res/drawable-v21/launch_background.xml
app/android/app/src/main/res/drawable/launch_background.xml
app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
app/android/app/src/main/res/values-night/styles.xml
app/android/app/src/main/res/values/styles.xml
app/android/app/src/profile/AndroidManifest.xml
app/android/build.gradle
app/android/gradle.properties
app/android/gradle/wrapper/gradle-wrapper.properties
app/android/settings.gradle
app/ios/Flutter/AppFrameworkInfo.plist
app/ios/Flutter/Debug.xcconfig
app/ios/Flutter/Release.xcconfig
app/ios/Runner.xcodeproj/project.pbxproj
app/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
app/ios/Runner.xcworkspace/contents.xcworkspacedata
app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
app/ios/Runner/AppDelegate.swift
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
app/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
app/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
app/ios/Runner/Base.lproj/LaunchScreen.storyboard
app/ios/Runner/Base.lproj/Main.storyboard
app/ios/Runner/Info.plist
app/ios/Runner/Runner-Bridging-Header.h
app/ios/RunnerTests/RunnerTests.swift
app/linux/CMakeLists.txt
app/linux/flutter/CMakeLists.txt
app/linux/flutter/generated_plugin_registrant.cc
app/linux/flutter/generated_plugin_registrant.h
app/linux/flutter/generated_plugins.cmake
app/linux/main.cc
app/linux/my_application.cc
app/linux/my_application.h
app/macos/Flutter/Flutter-Debug.xcconfig
app/macos/Flutter/Flutter-Release.xcconfig
app/macos/Flutter/GeneratedPluginRegistrant.swift
app/macos/Runner.xcodeproj/project.pbxproj
app/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
app/macos/Runner.xcworkspace/contents.xcworkspacedata
app/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/macos/Runner/AppDelegate.swift
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
app/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
app/macos/Runner/Base.lproj/MainMenu.xib
app/macos/Runner/Configs/AppInfo.xcconfig
app/macos/Runner/Configs/Debug.xcconfig
app/macos/Runner/Configs/Release.xcconfig
app/macos/Runner/Configs/Warnings.xcconfig
app/macos/Runner/DebugProfile.entitlements
app/macos/Runner/Info.plist
app/macos/Runner/MainFlutterWindow.swift
app/macos/Runner/Release.entitlements
app/macos/RunnerTests/RunnerTests.swift
app/pubspec.lock
app/README.md
app/test/widget_test.dart
app/web/favicon.png
app/web/icons/Icon-192.png
app/web/icons/Icon-512.png
app/web/icons/Icon-maskable-192.png
app/web/icons/Icon-maskable-512.png
app/web/index.html
app/web/manifest.json
app/windows/CMakeLists.txt
app/windows/flutter/CMakeLists.txt
app/windows/flutter/generated_plugin_registrant.cc
app/windows/flutter/generated_plugin_registrant.h
app/windows/flutter/generated_plugins.cmake
app/windows/runner/CMakeLists.txt
app/windows/runner/flutter_window.cpp
app/windows/runner/flutter_window.h
app/windows/runner/main.cpp
app/windows/runner/resource.h
app/windows/runner/resources/app_icon.ico
app/windows/runner/runner.exe.manifest
app/windows/runner/Runner.rc
app/windows/runner/utils.cpp
app/windows/runner/utils.h
app/windows/runner/win32_window.cpp
app/windows/runner/win32_window.h
